<plugin name='jabber' version='2.0' grailsVersion='2.4 &gt; *'>
  <author>Aleksey Nesterenko</author>
  <authorEmail>aleksey.nester.itt@gmail.com</authorEmail>
  <title>Jabber Plugin</title>
  <description>This plugin provides the opportunity to send and receive Chat messages via the Jabber API.
</description>
  <documentation>http://grails.org/plugin/jabber</documentation>
  <type>JabberGrailsPlugin</type>
  <resources />
</plugin>